.schoolList {
	display: flex;
	flex-flow: wrap;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.addSchool {
	display: flex;
	width: 300px;
	margin: 0 auto;
}
.addSchool input {
	margin-right: 10px;
}
.hideInput {
	display: none;
}
.show {
	display: block;
}
