/* 
blue - #180aaf
gray - #4c4c4c
orange - #f9a03f
white - #fefff2
pink - #c2095a
*/

.profileWrapper {
	max-width: 500px;
	width: 100%;
	margin: 20px auto;
}
.profileWrapper .btn {
	width: 200px;
}
.userDonationsWrapper {
	margin-top: 20px;
}
.userDonationsList {
	border: 1px solid #4c4c4c;
}
.userDonation {
	width: 100%;
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.userDonation:nth-child(odd) {
	background-color: #4c4c4c;
	color: #fefff2;
}
