/* 
blue - #180aaf
gray - #4c4c4c
orange - #f9a03f
white - #fefff2
pink - #c2095a
*/
.schoolItem {
	display: flex;
	width: 25%;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	/* width: 240px;
	height: 240px; */
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
	font-weight: 500;
}
.schoolItem:hover {
	background-color: #f9a03f;
	color: white;
	text-decoration: none;
}
/* .schoolItem:nth-child(odd) {
	background-color: rgb(240, 230, 217);
} */
.schoolImg {
	height: 100px;
	width: auto;
	margin-right: 15px;
	border-radius: 50%;
}
.schoolInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.modify {
	display: flex;
	font-size: 20px;
}
.far {
	padding: 5px;
	cursor: pointer;
}
.schoolItem_left {
	display: flex;
	align-items: center;
}
.schoolItem_right {
	display: flex;
	flex-direction: column;
}
