/* 
blue - #180aaf
gray - #4c4c4c
orange - #f9a03f
white - #fefff2
pink - #c2095a
*/
.schoolTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto 30px;
	align-items: center;
}
.schoolTitle button {
	margin-top: 10px;
}
.schoolImg {
	width: 100px;
	height: 100px;
	margin: 0 atuo;
}

.schoolInfo {
	display: flex;
}
.schoolInfo ul {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #4c4c4c;
	padding-left: 0;
}

.donationWrapper {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 10px;
	margin: 0 auto;
}
.donationRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.donationWrapper:nth-child(odd) {
	background-color: #4c4c4c;
	color: white;
}
.donationInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: flex-start;
}
.donationEditForm {
	max-width: 75%;
	width: 100%;
	margin: 0 auto;
}
.addDonation {
	max-width: 500px;
	width: 100%;
	margin: 40px auto;
}
.addDonation input {
	margin: 5px 0;
	width: 100%;
}

.addDonationWrapper {
	max-width: 1000px;
	width: 100%;
}
.editSchoolBtn {
	margin: 0 0px;
}
.editSchoolInput {
	margin: 5px 0;
}
